/*----- Includes -----*/
/*----- Global -----*/
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

.temporal-div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-subtitle {
  margin-bottom: 3rem;
}

/*----- Components -----*/
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3d3d3;
  padding: 1.5rem 3rem;
}

@media all and (max-width: 991px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.navbar .nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  will-change: unset;
}
.navbar .nav-list .nav-item .nav-link {
  color: #303030;
}

.menu-div {
  display: none;
}
.menu-div .menu-icon {
  color: #303030;
}

.close-div {
  display: none;
}

.close-icon {
  width: 3rem;
  height: 2rem;
  color: #303030;
}

@media all and (max-width: 991px) {
  .menu-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    position: relative;
  }
  .navbar .nav-list {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    position: fixed;
    top: 0;
    left: 0;
  }
  .navbar .nav-list .close-div {
    display: initial;
    position: absolute;
    top: 4%;
    right: 5%;
  }
  .navbar .nav-list .nav-item {
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
  }
  .navbar .nav-list .nav-item .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
  }
  .hidden-menu {
    height: 0 !important;
    overflow: hidden;
  }
  .menu-icon {
    height: 2rem;
    width: 3rem;
  }
}
@media all and (min-width: 992px) {
  .navbar .nav-list {
    display: flex !important;
    opacity: 1 !important;
    transform: translateY(-25%) !important;
  }
}
.logo-div {
  padding: 1rem;
}

@media all and (max-width: 991px) {
  .logo-div {
    margin-bottom: 0.75rem;
  }
}
.appointment-div {
  padding: 1rem;
  border: 1px solid gray;
}

@media all and (max-width: 991px) {
  .appointment-div {
    display: none;
  }
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 1.5rem;
  background-color: #a9a9a9;
}
.footer .logo-div {
  margin-bottom: 1.75rem;
  padding-left: 0;
}
.footer .footer-section-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer .footer-section-left .contact-info p {
  font-size: 1.2rem;
}
.footer .footer-section-right {
  width: 50%;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-section-right .hourlies-section .hourlies-subtitle {
  margin-bottom: 0.5rem;
}
.footer .footer-section-right .hourlies-section .hourlies-list .hourlies-item {
  margin-bottom: 0.75rem;
}
.footer .footer-section-right .hourlies-section .hourlies-list .hourlies-item .hourlies-day {
  margin-bottom: 0.25rem;
}

@media all and (max-width: 991px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer .footer-section-left {
    width: 100%;
    margin-bottom: 2rem;
  }
  .footer .footer-section-right {
    width: 100%;
  }
  .footer .footer-section-right .hourlies-section {
    width: 100%;
  }
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.quote-parallax-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote-parallax-section .blockquote-parallax {
  width: 50%;
  color: #fefefe;
  text-align: center;
}
.quote-parallax-section .blockquote-parallax .quote-parallax-text {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-style: italic;
  margin-bottom: 2rem;
}
.quote-parallax-section .blockquote-parallax .quote-parallax-author {
  font-size: 1.25rem;
}

@media all and (max-width: 992px) {
  .quote-parallax-section {
    padding: 3rem 0;
  }
  .quote-parallax-section .blockquote-parallax {
    width: 90%;
  }
}
/*----- Views -----*/
.landing-section {
  width: 100%;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #97D8C4;
  padding: 1rem;
}
.landing-section .landing-section-left {
  width: 50%;
  min-height: 25vh;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.landing-section .landing-section-right {
  width: 50%;
  max-width: 50%;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.landing-section .landing-text {
  width: 75%;
  text-align: start;
}

.landing-info-block {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.landing-info-block .left-block {
  width: 50%;
}
.landing-info-block .right-block {
  width: 50%;
}

.figure-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.figure-block img {
  width: 50%;
}

.text-block {
  width: 75%;
}

.home-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.home-container .home-card {
  width: 20%;
}
.home-container .home-card .card-figure {
  width: 100%;
}
.home-container .home-card .card-figure img {
  width: 100%;
}

.why-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why-container {
  min-height: unset;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.why-container .home-card {
  width: 15%;
  min-height: 17.5rem;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.why-container .home-card .card-figure {
  width: 50%;
}
.why-container .home-card .card-figure img {
  width: 100%;
}

.quote-parallax-home {
  position: relative;
}
.quote-parallax-home ::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #353535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
}
.quote-parallax-home ::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/home-quote.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
}

@media all and (max-width: 480px) {
  .why-container {
    gap: 1.5rem;
  }
  .why-container .home-card {
    width: 90%;
  }
}
@media all and (max-width: 767px) {
  .why-container {
    flex-direction: column;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .why-container {
    gap: 2rem;
  }
  .why-container .home-card {
    width: 75%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .why-container {
    gap: 2rem;
  }
  .why-container .home-card {
    width: 35%;
    min-height: 20rem;
  }
}

/*# sourceMappingURL=styles.css.map */
