@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;

.appointment-div {
  padding: 1rem;
  border: 1px solid gray;
}

@media all and (max-width: 991px) {
  .appointment-div {
    display: none;
  }
}