@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;

.appointment-div {
  .appoint-btn {
    padding: 0.5rem;
    @include mx.btnStyle(transparent, color.$secondColor, color.$secondColor, 0.25rem);
    transition: var.$trs03;
    &:hover {
      @include mx.colorize(color.$firstColor, color.$whiteSmoke);
      border-color: color.$firstColor;
    }
    color: color.$secondColor;
  }
}

@media all and (max-width: 991px) {
  .appointment-div {
    display: none;
  }
}