@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;

.landing-section {
  width: 100%;
  min-height: 86vh;
  @include mx.flexRow(center, center);
  position: relative;
  padding: 1rem;
  &::after {
    @include mx.bgHeroImg(-5, '/images/home-hero.webp', 0.9);
    background-position: top;
  }
  .landing-section-left {
    width: 50%;
    min-height: 40vh;
    max-width: 50%;
    @include mx.flexCol(center, center);
    margin-bottom: 2rem;
    margin-left: 3rem;
    .landing-title {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 1rem;
    }
    .landing-button {
      background-color: color.$firstColor;
      color: color.$whiteSmoke;
      padding: 1rem 2.5rem;
      margin-bottom: 1rem;
      border-radius: 0.25rem;
      transition: var.$trs03;
      &:hover {
        @include mx.colorize(color.$secondColor, color.$white);
      }
    }
  }
  .landing-section-right {
    width: 50%;
    max-width: 50%;
    min-height: 35vh;
    @include mx.flexCol(center, center);
    margin-bottom: 2rem;
    margin-right: 3rem;
    .blockquote-wrapper {
      width: 75%;
      background-color: color.$firstColor;
      padding: 1rem;
      .landing-blockquote {
        border: 1px solid #35353535;
        padding: 1rem;
        color: color.$softBlack;
        .landing-quote {
          q {
            font-family: font.$titleFont !important;
            font-size: 1.75rem;
          }
        }
        .landing-quote-author {
          font-size: 1.25rem;
          font-style: italic;
        }
      }
    }
  }
  .landing-text {
    width: 75%;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.landing-title, .landing-text {
  text-shadow: 0 0 0.05rem color.$white;
}

.landing-info-block {
  width: 100%;
  min-height: 90vh;
  @include mx.flexRow(center, center);
  background-color: color.$firstColor;
  padding: 1rem;
  .left-block {
    width: 50%;
  }
  .right-block {
    width: 50%;
    .heading-block {
      color: color.$lightBlack;
      .heading-block-title {
        font-size: 2rem;
        font-family: font.$titleFont;
        font-weight: 500;
      }
      .heading-block-subtitle {
        font-size: 2rem;
        font-family: font.$titleFont;
        font-weight: 500;
        margin-bottom: 1rem;
      }
    }
  }
}

.figure-block {
  width: 100%;
  @include mx.flexCol(center, center);
  img {
    width: 50%;
  }
}

.text-block {
  width: 75%;
  color: color.$darkerGrey;
}

.home-container {
  @include mx.flexRow(var.$evenly, center);
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.home-container .home-card {
  width: 20%;
  .home-card-figure {
    width: 100%;
    img {
      width: 100%;
      border-radius: 0.25rem;
    }
  }
  .home-card-title {
    font-family: font.$titleFont;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.75rem;
    .home-card-strong {
      font-family: font.$titleFont;
      font-weight: 500;
    }
  }
  .home-card-text {
    font-size: 1rem;
    text-align: center;
    color: color.$darkerGrey;
  }
}

.why-wrapper {
  @include mx.flexCol(center, center);
  background-color: color.$firstColor;
  padding-top: 3rem;
  padding-bottom: 3rem;
  .page-subtitle {
    width: 100%;
    text-align: center;
    background-color: color.$secondColor;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

.why-container {
  min-height: unset;
  @include mx.flexRow(var.$evenly, center);
  flex-wrap: wrap;
  .home-card {
    width: 15%;
    min-height: 22rem !important;
    background-color: color.$whiteSmoke;
    border-radius: 0.25rem;
    padding: 1rem;
    gap: 1rem;
    @include mx.flexCol(flex-start, center);
    .home-card-figure {
      width: 50%;
      img {
      width: 100%;
      }
    }
    .home-card-title {
      font-family: font.$titleFont;
      font-weight: 400;
    }
    .home-card-text {
      text-align: center;
      font-size: 0.9rem;
      color: color.$darkerGrey;
    }
  }
}

.quote-parallax-home {
  position: relative;
  ::before {
    @include mx.bgColor(-3, color.$softerBlack, 0.2);
  }
  ::after {
    @include mx.bgHeroImg(-5, '/images/home-quote.jpg', 0.8);
    background-attachment: fixed;
  }
}

@media all and (max-width: 480px) {

  .home-container {
    .home-card {
      width: 60%;
    }
  }

  .why-container {
    gap: 1.5rem;
    .home-card {
      width: 80%;
    }
  }
  .landing-section {
    .landing-section-left {
      .landing-title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
    }
    .landing-section-right {
      .blockquote-wrapper {
        width: 90%;
        .landing-blockquote {
          .landing-quote {
            q {
              font-size: 1.25rem;
            }
          }
          .landing-quote-author {
            font-size: 0.9rem;
          }
        }
      }
      .landing-text {
        width: 90%;
        font-size: 1.25rem;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .why-container {
    flex-direction: column;
  }
}

@media all and (min-width: 481px) and (max-width: 767px) {

  .home-container {
    .home-card {
      width: 50%;
    }
  }

  .why-container {
    gap: 2rem;
    .home-card {
      width: 70%;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {

  .home-container {
    .home-card {
      width: 40%;
    }
  }

  .why-container {
    gap: 2rem;
    .home-card {
      width: 35%;
      min-height: 20rem;
    }
  }
}

@media all and (max-width: 991px) {

  .landing-section {
    @include mx.flexCol(center, center);
    padding-top: 5rem;
    padding-bottom: 5rem;
    &::after {
      @include mx.bgHeroImg(-5, '/images/home-hero-mobile.jpg', 0.8);
    }
    .landing-section-left {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
    }
    .landing-section-right {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
    }
  }

  .landing-info-block {
    flex-direction: column-reverse;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .left-block {
      width: 90%;
      .figure-block {
        img {
          width: 55%;
        }
      }
    }
    .right-block {
      width: 90%;
      margin-bottom: 2rem;
    }
    .text-block {
      width: 100%;
    }
  }

  .home-container {
    @include mx.flexCol(var.$evenly, center);
    .home-card {
      margin-bottom: 2rem;
    }
  }

  .why-container {
    .home-card {
      .home-card-title {
        font-size: 1.25rem;
      }
    }
  }
}